footer {
	height: 50px;
	margin-top: 20px;
	border-top: 1px solid gray;
}

.no-underline {
	text-decoration: none;
}

.fitted-image {
	width: 100%;
}

.post-image {
	width: 50%;
}

.image {
	width: 20%;
}

.image1 {
	width: 35%;
}

p, h3, h5 {
	padding-left: 7%;
	padding-right: 7%;
}

.caption {
	width: 50%;
	margin: auto;
}

.screenshot {
	margin: 5px;
	padding: 2px;
	width: 25%;
}